body{

font-family: sans-serif;
}
h1{
	text-align: center;
	color: orange;
	margin: 30px 0 50px;
}
.image{
	margin:50px auto;
	width:50%;
}
  
.image img{
	width:100%;
}

.btn{
	border:none;
	outline:none;
	background:#888;
	padding:10px 30px;
	font-size: 20px;
	color:#ddd;
	cursor: pointer;
	margin:10px auto;			 
}

.btn:hover{
	background: slateblue;
}